<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <meta charset="utf-8">
        <title>Covid Tracker</title>
        <meta name="theme-color" content="#9d4edd">
        <h1>Covid Statistics Tracker</h1>
    </head>
    
<div class="navbar">
    <a href="index.html">Home</a>
    <a href="day.html">Today</a>
    <a href="week.html">Week</a>
    <a href="month.html">Month</a>
    <a href="alltime.html">All-Time</a>
    <a class="active" href="vaccination.html">Vaccination</a>
  </div>

<body>
  <!-- Vaccination data-->
    <div>
        <h2>Local Vaccination Data:</h2>
        <table>
            <tr>
                <th>Region: </th>
                <th>Total # Vaccinated </th>
                <th>Total % </th>
                <th>Total # Boosted</th>
                <th>Total %</th>
            </tr>
            <tr>
                <td>{{ Region_1 }}</td>
                <td>{{ 91214_full_num }}</td>
                <td>{{ 91214_full_percent }}%</td>
                <td>{{ 91214_boost_num }}</td>
                <td>{{ 91214_boost_percent }}%</td>
            </tr>
        </table>
        <table>
          <tr>
              <th>Region: </th>
              <th>Total # Vaccinated </th>
              <th>Total % </th>
              <th>Total # Boosted</th>
              <th>Total %</th>
          </tr>
      <br>
          <tr>
              <td>{{ Region_2 }}</td>
              <td>{{ 91020_full_num }}</td>
              <td>{{ 91020_full_percent }}%</td>
              <td>{{ 91020_boost_num }}</td>
              <td>{{ 91020_boost_percent }}%</td>
          </tr>
        </table>
</body>

<br>
<br>
<footer>
  <h3>Updated Daily</h3>
</footer>

</html>