<!DOCTYPE html>
<html>
    
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <meta charset="utf-8">
        <title>Covid Tracker</title>
        <meta name="theme-color" content="#9d4edd">
        <h1>Covid Statistics Tracker</h1>
    </head>

<div class="navbar">
    <a href="index.html">Home</a>
    <a href="day.html">Today</a>
    <a class="active" href="week.html">Week</a>
    <a href="month.html">Month</a>
    <a href="alltime.html">All-Time</a>
    <a href="vaccination.html">Vaccination</a>
  </div>

<body>
    <div>
        <h2>Total Cases Over The Last Week:</h2>
        <table>
            <tr>
                <th>Date: </th>
                <th>Region: </th>
                <th>Positive Cases over this week: </th>
            </tr>
            <tr>
                <td>{{ Start_Date }} - {{ End_Date }}</td>
                <td>{{ Region }}</td>
                <td>{{ Week_Cases }}</td>
            </tr>
        </table>
        <h2>Total Deaths Over the Last Week: </h2>
        <table>
            <tr>
                <th>Date: </th>
                <th>Region: </th>
                <th>Deaths over this week: </th>
            </tr>
            <tr>
                <td>{{ Start_Date }} - {{ End_Date }}</td>
                <td>{{ Region }}</td>
                <td>{{ Week_Deaths }}</td>
            </tr>
        </table>
        <h2>Total Tests Taken Over the Last Week: </h2>
        <table>
            <tr>
                <th>Date: </th>
                <th>Region: </th>
                <th>Tests over this week: </th>
            </tr>
            <tr>
                <td>{{ Start_Date }} - {{ End_Date }}</td>
                <td>{{ Region }}</td>
                <td>{{ Week_Tests }}</td>
            </tr>
        </table>
    </div>
</body>

<br>


</html>