
h1 {
    color: #0583D2;
    font-size: 48px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    color: #0583D2;
    font-size: 36px;
    font-family:'Courier New', Courier, monospace;
}
h3 {
    font-size: 24px;
    font-family:'Lucida Sans Regular';
}
h4{
    font-size: 19px;
    font-weight: normal;
}
body {
    background-color: rgb(220, 220, 220);
}

.navbar {
    background-color:black;
    overflow:hidden;
    width: 75%;
}
.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 36px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    /* background-color: rgb(32, 128, 8); */
    background-color: crimson;
}

.navbar a:active {
    background-color: skyblue;
    color: white;
}

table {
    width: 700px;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
}

td {
    border: 1px solid black;
    padding: 10px;
}


footer {
    color: black;
}
footer a:hover{
    color:blueviolet;
}
