/* Doesnt work yet */
h1 {
    color: #0583D2;
    font-size: 48px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    color: #0583D2;
    font-size: 36px;
    font-family:'Courier New', Courier, monospace;
}
h3 {
    font-size: 24px;
    font-family:'Lucida Sans Regular';
}
h4{
    font-size: 19px;
    font-weight: normal;
}
body {
    background-color: rgb(170,170,170);
}

.navbar {
    background-color:black;
    overflow:hidden;
    width: 49.40%;
}
.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 36px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: rgb(32, 128, 8);
}

.navbar a:active {
    background-color: skyblue;
    color: white;
}

footer {
    color: black;
}
footer a:hover{
    color:blueviolet;
}
