
h1 {
    color: darkolivegreen;
    font-size: 48px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    color: darkolivegreen;
    font-size: 36px;
    font-family:'Courier New', Courier, monospace;
}
h3 {
    font-size: 24px;
    font-family:'Lucida Sans Regular';
}
h4{
    font-weight: normal;
}
body {
    background-color: lightgray;
}

.navbar {
    background-color:black;
    overflow:hidden;
}
.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: darkgray;
}

.navbar a:active {
    background-color: #04AA6D;
    color: white;
}

footer {
    color: black;
}
footer a:hover{
    color:blueviolet;
}
