<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <meta charset="utf-8">
        <title>Covid Tracker</title>
        <meta name="theme-color" content="#9d4edd">
        <h1>Covid Statistics Tracker</h1>
    </head>
    
<div class="navbar">
    <a href="index.html">Home</a>
    <a href="today.html">Today</a>
    <a href="week.html">Week</a>
    <a href="month.html">Month</a>
    <a class="active" href="alltime.html">All-Time</a>
    <a href="vaccination.html">Vaccination</a>
  </div>

<body>
    <!-- Alltime -->
    <div>
        <h2>Total Cases Overall:</h2>
        <h4>Since 02/01/2020</h4>
        <table>
            <tr>
                <th>Region: </th>
                <th>Total Confirmed: </th>
            </tr>
            <tr>
                <td>{{ Region }}</td>
                <td>{{ Total_Confirmed }}</td>
            </tr>
        </table>
        <p><br></p>
        <h3>Deaths Overall:</h3>
        <table>
            <tr>
                <th>Region: </th>
                <th>Total Deaths: </th>
            </tr>
            <tr>
                <td>{{ Region }}</td>
                <td>{{ Total_Deaths }}</td>
            </tr>
        </table><!-- <p>As you can see, the cases have a downward trend over All time, with occasional spikes.</p> -->
    </div>
</body>

<br>

<footer>
    <h4>Updated Daily</h4>
</footer>

</html>