<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Covid Tracker</title>
        <meta name="theme-color" content="#9d4edd">
        <h1>Covid Statistics Tracker</h1>
    </head>

<div class="navbar">
    <a class="active" href="index.html">Home</a>
    <a href="today.html">Today</a>
    <a href="week.html">Week</a>
    <a href="month.html">Month</a>
    <a href="alltime.html">All-Time</a>
    <a href="vaccination.html">Vaccination</a>
  </div>

<body>
    <div>
        <header>
            <h2> Local Covid Statistics: </h2>
            <p><br></p>
        </header>
    </div>

<main>
    <div>
        <h2>Current Active Cases:</h2>
        <table>
            <tr>
                <th>Region: </th>
                <th>New Confirmed: </th>
                <th>Total Confirmed: </th>
                <th>New Deaths: </th>
                <th>Total Deaths: </th>
            </tr>
            <tr>
                <td>{{ summary }}</td>
            </tr>
        </table>
        <!-- <p>{{ summary }}<br></p> -->
        <br>
        <p><br></p>
        <h2>Current Active Hospitalizations:</h2>
        <p><br></p>
        <p>Info to be put here later<br></p>

        <!-- <script language = "python" type = "text/python"> -->
        <!-- </script>
            Put info here, Info done on Python side -->
        <!-- <p>As seen in <a href ='#'>Cases over the last year</a> the number of cases has been steadily decreasing</p> -->
        <!-- Links to cases over last year, another stat we will need to pull from an API-->
    </div>
</main>

    <div>
        <footer>
            <br><br>
            <h4>Updated Daily</h4>
            
            <h3>Sources:</h3>
            <em> <a href = "https://documenter.getpostman.com/view/10808728/SzS8rjbc#c34162be-7c20-418e-9866-a24dca632b3c">
                Coronavirus Covid-19 API</a> 
            </em>
        </footer>
    </div>

</body>

</html>