<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <meta charset="utf-8">
        <title>Covid Tracker</title>
        <meta name="theme-color" content="#9d4edd">
        <h1>Covid Statistics Tracker</h1>
    </head>
    
<div class="navbar">
    <a href="index.html">Home</a>
    <a href="today.html">Today</a>
    <a href="week.html">Week</a>
    <a class="active" href="month.html">Month</a>
    <a href="alltime.html">All-Time</a>
    <a href="vaccination.html">Vaccination</a>
  </div>

<body>
    <!-- Monthly -->
    <div>
        <h2>Total Cases over the last month:</h2>
        <p><br></p>
        <p>Info to be put here later<br></p><!-- Info from Python sided here -->
        <h3>Deaths Over the Last Month:</h3><!-- <p>As you can see, the cases have a downward trend over alltime, with occasional spikes.</p> -->
    </div>
</body>


<br>
<footer>
    <h4>Updated Monthly</h4>
</footer>

</html>