<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <meta charset="utf-8">
        <title>Covid Tracker</title>
        <meta name="theme-color" content="#9d4edd">
        <h1>Covid Statistics Tracker</h1>
    </head>

<div class="navbar">
    <a href="index.html">Home</a>
    <a class="active" href="today.html">Today</a>
    <a href="week.html">Week</a>
    <a href="month.html">Month</a>
    <a href="alltime.html">All-Time</a>
    <a href="vaccination.html">Vaccination</a>
  </div>

<body>
      <div>
        <h2>Cases Today:</h2>
        <table>
            <tr>
                <th>Date: </th>
                <th>Region: </th>
                <th>Cases over last 24 hours: </th>
                <th>Deaths over last 24 hours: </th>
                <th>Tests over last 24 hours: </th>
            </tr>
            <tr>
                <td>{{ Date }}</td>
                <td>{{ Region }}</td>
                <td>{{ Today_Cases }}</td>
                <td>{{ Today_Deaths }}</td>
                <td>{{ Today_Tests }}</td>
            </tr>
        </table>
    </div>
</body>

<br>

<footer>
    <h4>Updated Daily</h4>
</footer>
    
</html>